{%extends "layout.html"%} {%block title %} Home page {% endblock %} {%block
style%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/home.css') }}"
/>
{% endblock %} {% block body %}
<!-- messages -->
<div class="row">
  <div
    class="message"
    style="height: 44px; background: transparent; width: 100%; margin: 10px 0;"
  >
    {% with messages = get_flashed_messages() %} {%if messages%} {%for i in
    messages %}
    <div class="alert alert-success text-center" role="alert">
      <strong>{{i}}</strong>
    </div>
    {%endfor%} {%endif%} {%endwith%}
  </div>
</div>
<!--message row finish-->
<div class="row">
  <div class="col-md-3 col-sm-12 home-left">
    {%if userInfo %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Account Information
        </h5>
      </div>
      <table class="table account-info" style="border: none;">
        <tbody>
          <tr>
            <td>
              <i class="fa fa-user font-weight-bold" aria-hidden="true"></i>
              Name:
            </td>
            <td>{{userInfo['name']}}</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-envelope font-weight-bold" aria-hidden="true"></i>
              Email:
            </td>
            <td>{{userInfo['email']}}</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-key font-weight-bold" aria-hidden="true"></i>
              Password:
            </td>
            <td>{{userInfo['password']}}</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-calendar" aria-hidden="true"></i>Created on:
            </td>
            <td>{{userInfo['date'].strftime("%d %B, %Y") }}</td>
          </tr>
          <tr>
            <td><i class="fa fa-comment" aria-hidden="true"></i> Reviewed:</td>
            <td>{{reviewCount}} books</td>
          </tr>
        </tbody>
      </table>
    </div>
    {%endif%}
  </div>
  <div class="col-md-6 col-sm-12 home-center">
    <!-- show this table if reviews found  -->
    <table class="table table-hover table-bordered" style="font-size: 12px;">
      <tr style="background-color: #f3f3f3;">
        <th
          colspan="4"
          style="color: #ff105f; font-weight: bold; text-align: center;"
        >
          Your reviewed books
        </th>
      </tr>
      <tr>
        <th>ISBN</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Date</th>
      </tr>
      {%if reviewedbooks%} {%for i in reviewedbooks %}
      <tr>
        <td>
          <a href="{{url_for('singleBook', isbn = i[3] )}}"> {{i[3]}}</a>
          <!-- {{i[3]}} -->
        </td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{ i[4].strftime("%d %B, %Y") }}</td>
      </tr>
      {%endfor%} {%endif%}
    </table>
  </div>
  <!-- home-center finish-->
  <div class="col-md-3 col-sm-12 home-right">
    <div class="container">
      <form action="/book" method="POST">
        <div class="form-group">
          <label for="name" class="text-center"
            >Search Your favourite book</label
          >
          <input
            type="search"
            name="byTitle"
            id="name"
            class="form-control mt-1"
            placeholder="Search by Title"
            aria-describedby="name"
          />
          <input
            type="search"
            name="byAuthor"
            id="name"
            class="form-control mt-1"
            placeholder="Search by Author"
            aria-describedby="name"
          />

          <input
            type="number"
            name="byYear"
            id="name"
            class="form-control mt-1"
            placeholder="Search by Year"
            aria-describedby="name"
          />
          <input
            type="search"
            name="byIsbn"
            id="name"
            class="form-control mt-1"
            placeholder="Search by ISBN"
            aria-describedby="name"
          />
        </div>

        <button type="submit" class="btns actived btn-primary btn-block">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
