{%extends "layout.html" %} {%block body%}
<div class="row">
  <div class="col-sm-12 col-md-3">
    <form action="/book" method="POST">
      <div class="form-group">
        <label for="name" class="text-center h2"
          >Search Your favourite book</label
        >
        <input
          type="search"
          name="byTitle"
          id="name"
          class="form-control mt-1"
          placeholder="Search by Title"
          aria-describedby="name"
        />
        <input
          type="search"
          name="byAuthor"
          id="name"
          class="form-control mt-1"
          placeholder="Search by Author"
          aria-describedby="name"
        />

        <input
          type="number"
          name="byYear"
          id="name"
          class="form-control mt-1"
          placeholder="Search by Year"
          aria-describedby="name"
        />
        <input
          type="search"
          name="byIsbn"
          id="name"
          class="form-control mt-1"
          placeholder="Search by ISBN"
          aria-describedby="name"
        />
      </div>

      <button type="submit" class="btns actived btn-primary btn-block">
        Submit
      </button>
    </form>
  </div>
  <div class="col-sm-12 col-md-9">
    {% if itemsCount %}
    <div
      class="text-center alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        Yei! Total <strong> {{itemsCount}} </strong> result found for:
        <strong> {{text}}</strong>
      </p>
    </div>

    <script>
      $(".alert").alert();
    </script>
    {%endif%} {% if msgNo %}
    <div
      class="text-center alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p>{{msgNo}} for: <strong> {{text}}</strong></p>
    </div>

    <script>
      $(".alert").alert();
    </script>

    {{hello}} {%endif%} {%if items%}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
          <th>ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% for i in items %}
        <tr>
          <td><a href="{{baseUrl}}/{{i[1]}}"> {{i[2]}}</a></td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
          <td><a href="{{baseUrl}}/api/{{i[1]}}"> {{i[1]}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {%endif %}
  </div>
</div>

{%endblock%}
